header {
  text-align: center;
}
header > h2 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  margin: 10px;
}
header > p {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  max-width: 400px;
}
.status {
  /* max-width: 400px; */
  background-color: green;
  color: white;
  margin-top: 10px;
}
.status p {
  text-align: center;
}
.status p h2 {
  text-align: center;
}
main {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main section css */
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
